<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Own CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my_css.css') }}">

    <!-- Handlebars -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script> -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/handlebars.js') }}"></script>
    <!-- Message template -->
    <script id='message_template' type="text/x-handlebars-template">
        <li class="message">
            {% raw -%}
                {{alias}}: {{message}}
            {%- endraw %}
        </li>
    </script>
    <!-- Room template -->
    <script id='room_template' type="text/x-handlebars-template">
        <li class="room">{% raw -%}{{ name }}{%- endraw %}</li>
    </script>

    <!-- JS SocketIO -->
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script> -->
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.js') }}"></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    
    <!-- Own JS -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Sriracha&display=swap" rel="stylesheet">

    <title>Project 2 - LucasAgustínCamino</title>
</head>

<body>
    <div id='page' hidden>
        <div id='left-pannel' class="container-fluid">
            <!-- Left Pannel -->
            <div id="profile-area">
                <!-- Profile Area -->
                <div id="profile-img">
                </div>
                <div id="profile-alias">
                </div>
                <button id="profile-exit">
                    EXIT
                </button>
            </div>
            <div id="rooms-area">
                <!-- Rooms Area -->
                <ul id="rooms">
                </ul>
            </div>
        </div>
        <div id='right-pannel' class="container-fluid">
            <!-- Right Pannel -->
            <div id="title-area">
                <h1 id="title">Welcome to "ChatApp" !</h1>
            </div>
            <div id="chat-area">
                <!-- Chat Area -->
                <ul id="messages">
                </ul>
            </div>
            <div id="room-area">
                -- You are in "<strong><span id="room"></span></strong>" room --
            </div>
            <div id="message-area">
                <!-- Chat Area -->
                <textarea autofocus name="new_message" id="new_message" placeholder="Type here..."></textarea>
                <button id="send">Send</button>
            </div>
        </div>
    </div>
    <div id='login'>
        <div id="login_title">
            <h3>Welcome!</h3>
            <h5>Please, choose your Alias</h5>
        </div>
        <!-- <input placeholder="Type your alias here" type="text" id="login_alias" value="  T*e S$t !@~`#$%^&()-+={}[]|\/<>    "> -->
        <input placeholder="Type your alias here" type="text" id="login_alias">
        <button id="login_start">START</button>
    </div>
    <footer>
        Lucas Agustín Camino - lucascamino95@gmail.com
    </footer>


    <!-- JS Bootstrap local-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>