{% extends 'layout.html' %}

{% block mynav %}
{% endblock %}

{% block main %}
<div id='select_alias' hidden=true>
    <h3>Write your favourite alias</h3>
    <div>
        <input placeholder="Your Alias" type="text" name="user_alias" id="user_alias">
    </div>
    <div>
        <button id="btn_alias">Enter</button>
    </div>
</div>
<div id='chat_zone' class="fondo">
    <ul id="messages">
        {% for m in channels_messages %}
            {% for k,v in m.items() %}
            <li>
                <p>{{k}}: {{v}}</p>
            </li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>
<div id='message_zone' class="fondo">
    <textarea name="message" id="message"  placeholder="Text here!"></textarea>
    <button id="btn_send_message">Send</button>
</div>
{% endblock %}