body #page #left-pannel #profile-area #profile-img, body #page #left-pannel #rooms-area, body #page #right-pannel #chat-area, body #page #right-pannel #message-area #new_message, body #page #right-pannel #message-area #send {
  border-radius: 5px;
  border-style: solid;
  border-width: medium;
  border-color: whitesmoke; }

body {
  background-color: #101010;
  color: white; }
  body #login {
    background-color: pink;
    position: fixed;
    top: 30%;
    bottom: 30%;
    left: 30%;
    right: 30%;
    min-width: 200px;
    min-height: 200px; }
    body #login #login_title {
      background-color: blueviolet;
      position: absolute;
      top: 7%;
      left: 10%;
      right: 10%;
      text-align: center; }
    body #login #login_alias {
      background-color: #89e295;
      position: absolute;
      top: 55%;
      left: 25%;
      width: 50%;
      text-align: center; }
    body #login #login_start {
      background-color: #c8cf5a;
      position: absolute;
      top: 75%;
      left: 42.5%; }
  body #page {
    position: fixed;
    height: 100%;
    left: 1%;
    right: 1%;
    min-width: 750px;
    min-height: 400px; }
    body #page #left-pannel {
      position: absolute;
      left: 1%;
      top: 0;
      bottom: 4%;
      width: 25%; }
      body #page #left-pannel #profile-area {
        position: absolute;
        left: 5%;
        right: 5%;
        top: 1%;
        height: 53%; }
        body #page #left-pannel #profile-area #profile-img {
          background-color: #303030;
          position: absolute;
          text-align: center;
          top: 16%;
          left: 16%;
          right: 16%;
          height: 42%;
          border-radius: 30%; }
        body #page #left-pannel #profile-area #profile-img:hover {
          background-color: #a5a5a5;
          cursor: pointer; }
        body #page #left-pannel #profile-area #profile-alias {
          position: absolute;
          text-align: center;
          bottom: 25%;
          left: 16%;
          right: 16%;
          font-family: "Sriracha", cursive;
          font-size: 150%; }
        body #page #left-pannel #profile-area #profile-exit {
          position: absolute;
          bottom: 10%;
          width: 40%;
          left: 30%; }
      body #page #left-pannel #rooms-area {
        background-color: #303030;
        position: absolute;
        left: 5%;
        right: 5%;
        bottom: 1%;
        height: 42%;
        overflow-y: scroll;
        padding-top: 5%; }
        body #page #left-pannel #rooms-area #rooms {
          list-style: '';
          padding-left: 20%; }
          body #page #left-pannel #rooms-area #rooms .room {
            margin-bottom: 5%; }
          body #page #left-pannel #rooms-area #rooms .room:hover {
            cursor: pointer;
            font-weight: 650; }
    body #page #right-pannel {
      position: absolute;
      right: 1%;
      top: 0;
      bottom: 4%;
      width: 72%; }
      body #page #right-pannel #title-area {
        position: absolute;
        left: 25%;
        right: 25%;
        top: 2.5%;
        text-align: center;
        max-height: 12%;
        overflow-y: hidden;
        overflow-x: hidden; }
        body #page #right-pannel #title-area #title {
          font-size: 150%; }
      body #page #right-pannel #chat-area {
        background-color: #424242;
        position: absolute;
        left: 5%;
        right: 5%;
        top: 15%;
        height: 50%;
        padding-top: 1%;
        overflow-y: scroll;
        font-family: "Balsamiq Sans", cursive; }
        body #page #right-pannel #chat-area #messages {
          padding-left: 3%;
          padding-top: 1%; }
          body #page #right-pannel #chat-area #messages .message {
            list-style: none;
            padding-bottom: 1%;
            max-width: 150%; }
      body #page #right-pannel #room-area {
        color: #dddd33;
        position: absolute;
        left: 20%;
        right: 20%;
        top: 67%;
        text-align: center; }
      body #page #right-pannel #message-area {
        position: absolute;
        left: 5%;
        right: 5%;
        bottom: 5%;
        height: 22%; }
        body #page #right-pannel #message-area #new_message {
          background-color: #cecece;
          color: black;
          resize: none;
          position: absolute;
          top: 5%;
          right: 18%;
          width: 80%;
          height: 90%;
          padding: 1.5%; }
        body #page #right-pannel #message-area #send {
          background-color: #830101;
          position: absolute;
          color: white;
          right: 1%;
          top: 5%;
          bottom: 5%;
          width: 16%;
          font-size: 150%; }
        body #page #right-pannel #message-area #send:hover {
          background-color: #dd0404;
          font-size: 200%; }

footer {
  background-color: rgba(1, 0, 20, 0.329);
  position: fixed;
  overflow-y: scroll;
  bottom: 0;
  width: 100%;
  height: 4.5%;
  text-align: center;
  font-size: 100%; }

/*# sourceMappingURL=my_css.css.map */
