// $color_1: #101010;
// $color_2: #212121;
// $color_3: #303030;
// $color_4: #424242;

$color_1: rgb(248,247,229);
$color_2: #212121;
$color_3: #303030;
$color_4: #424242;

$color_text_1: white;
// $color_footer: rgba(1, 0, 20, 0.329);
$color_footer: rgba(139, 113, 209, 0.74);

$aliasFont: 'Sriracha', cursive;
$messagesFont: 'Balsamiq Sans', cursive;

%nice_borders{
    border-radius: 5px;
    border-style: solid;
    border-width: medium;
    border-color: whitesmoke;
}

body{
    background-color: $color_1;
    color: $color_text_1;

    #login{
        background-color: pink;
        position: fixed;
        top: 30%;
        bottom: 30%;
        left: 30%;
        right: 30%;
        min-width: 200px;
        min-height: 200px;

        #login_title{
            background-color: blueviolet;
            position: absolute;
            top: 7%;
            left: 10%;
            right: 10%;
            text-align: center;
        }

        #login_alias{
            background-color: rgb(137, 226, 149);
            position: absolute;
            top: 55%;
            left: 25%;
            width: 50%;
            text-align: center;
        }

        #login_start{
            background-color: rgb(200, 207, 90);
            position: absolute;
            top: 75%;
            left: 42.5%;
        }
    }

    #page{
        // background-color: blueviolet;
        position: fixed;
        height: 100%;
        left: 1%;
        right: 1%;
        min-width: 750px;
        min-height: 400px;

        #left-pannel{
            // background-color: rgb(129, 25, 25);
            position: absolute;
            left: 1%;
            top: 0;
            bottom: 4%;
            width: 25%;
            
            #profile-area{
                // background-color: rgb(17, 134, 79);
                position: absolute;
                left: 5%;
                right: 5%;
                top: 1%;
                height: 53%;

                #profile-img{
                    @extend %nice_borders;
                    border-radius: 20px;
                    border-color: rgb(71, 90, 117);
                    // border-radius: 30%;
                    background-color: $color_1;
                    position: absolute;
                    text-align: center;
                    top: 16%;
                    left: 16%;
                    right: 16%;
                    height: 42%;
                }
                #profile-img:hover{
                    background-color: rgb(165, 165, 165);
                    cursor: pointer;
                }

                #profile-alias{
                    // background-color: rgb(206, 0, 0);
                    color: rgb(73, 11, 167);
                    position: absolute;
                    text-align: center;
                    bottom: 25%;
                    left: 16%;
                    right: 16%;
                    font-family: $aliasFont;
                    font-size: 150%;
                }
                #profile-exit{
                    background-color: rgb(254, 202, 116);
                    color: rgb(90, 113, 147);
                    border-color: rgb(71, 90, 117);
                    border-radius: 10px;
                    position: absolute;
                    bottom: 10%;
                    width: 40%;
                    left: 30%;
                }
            }
            #rooms-area{
                @extend %nice_borders;
                border-color: rgb(71, 90, 117);
                background-color: rgb(90, 113, 147);
                color: whitesmoke;
                position: absolute;
                left: 5%;
                right: 5%;
                bottom: 1%;
                height: 42%;
                overflow-y: scroll;
                padding-top: 5%;

                #new-room-area{
                    position: fixed;
                    bottom: 38%;
                    left: 20%;
                    text-align: right;
                    
                    #new-room{
                        background-color: rgb(254, 202, 116);
                        color: rgb(90, 113, 147);
                        border-color: rgb(71, 90, 117);
                        border-radius: 10px;
                        font-size: 140%;
                    }
                }

                #rooms{
                    list-style: '';
                    padding-left: 20%;
                    .room{
                        margin-bottom: 5%;
                    }
                    .room:hover{
                        cursor: pointer;
                        font-weight: 650;
                    }
                }
            }
        }

        #right-pannel{
            // background-color: rgb(31, 4, 4);
            position: absolute;
            right: 1%;
            top: 0;
            bottom: 4%;
            width: 72%;

            #title-area{
                background-color: rgb(71, 197, 193); 
                // color: rgb(90, 113, 147);
                color: rgb(232, 248, 247);
                border-radius: 10px;
                position: absolute;
                left: 25%;
                right: 25%;
                top: 2.5%;
                text-align: center;
                max-height: 12%;
                overflow-y: hidden;
                overflow-x: hidden;
                
                #title{
                    font-size: 150%;
                }
            }
            #chat-area{
                @extend %nice_borders;
                border-color: rgb(71, 90, 117);
                border-width: 5px;
                background-color: rgb(90, 113, 147);
                color: whitesmoke;
                position: absolute;
                left: 5%;
                right: 5%;
                top: 15%;
                height: 50%;
                padding-top: 1%;
                overflow-y: scroll;
                font-family: $messagesFont;

                #messages{
                    padding-left: 3%;
                    padding-top: 1%;
                    .message{
                        list-style: none;
                        padding-bottom: 1%;
                        max-width: 150%;
                    }
                }
            }
            #room-area{
                background-color: rgb(254, 202, 116);
                color: rgb(90, 113, 147);
                border-radius: 10px;
                position: absolute;
                left: 30%;
                right: 30%;
                top: 67%;
                text-align: center;
                
            }
            #message-area{
                position: absolute;
                left: 5%;
                right: 5%;
                bottom: 5%;
                height: 22%;

                #new_message{
                    @extend %nice_borders;
                    border-color: rgb(71, 90, 117);
                    background-color: rgb(186, 247, 240);
                    color: rgb(90, 113, 147);
                    resize: none;
                    position: absolute;
                    top: 5%;
                    right: 18%;
                    width: 80%;
                    height: 90%;
                    padding: 1.5%;
                }
                #send{
                    @extend %nice_borders;
                    // background-color: rgb(81, 237, 198);
                    background-color: rgb(48, 235, 188);
                    position: absolute;
                    color: white;
                    right: 1%;
                    top: 5%;
                    bottom: 5%;
                    width: 16%;
                    font-size: 150%;
                }
                #send:hover{
                    background-color: rgb(116, 236, 206);
                    font-size: 200%;
                }
            }
        }
    }
}

footer{
    background-color: $color_footer;
    position: fixed;
    overflow-y: scroll;
    bottom: 0;
    width: 100%;
    height: 4.5%;
    text-align: center;
    font-size: 100%;

    a{
        color: rgb(73, 11, 167);
        color: rgb(67, 0, 167);
    }
    a:hover{
        color: rgb(228, 225, 64);
    }
}